@media (min-width: 1281px) and (max-width: 1600px) {

}
@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1024px) {
.navbar ul li a{
  margin-left: 0px;
  font-size: 16px;
}
}

@media (min-width: 320px) and (max-width: 480px) {
.navbar .social-part{
  display: none;
}
.navbar ul li a{
  margin-left: 0;
}
.navbar-scroll {
  padding: 0.5rem 1rem;
}
.carousel-item {
  margin-top: 7em;
  height: 20vh;
  min-height: 250px;
}

#sobre h2{
  font-size: 50px;
  letter-spacing: 15px;
}
#sobre p{
  padding: 0 1em;
}
#servicos-consignacao h2{
  font-size: 50px;
  letter-spacing: 15px;
}
#servicos-consignacao .card{
  margin-left: 1em;
  margin-right: 1em;
}
#locacao h2{
  font-size: 40px;
  letter-spacing: 15px;
}
#locacao .card-locacao{
  height: 200px;
  margin-left: 1em;
  margin-right: 1em;
}
#contato h2{
  font-size: 50px;
  letter-spacing: 15px;
}
#contato p.end{
  margin-top: 1em;
  padding: 0 1em;
  text-align: center;
}
#contato .styled-icons {
  text-align: center;
}
#contato .btn_white {
  margin-top: 0.5rem;
}
.btn-block {
  width: 93%;
  margin: 0 auto;
  text-align: center;
}
form.wpcf7-form.init {
  padding: 0 1em;
}
#blog-page h2 {
  text-align: center;
  padding-bottom: .5em;
}
#blog-page #search-input {
  text-align: center;
  margin: .5em auto;
  float: none;
}
#blog-page article {
  margin: 0 1em;
}
#blog-single .share{
  padding: 0 1em;
}
#blog-single .post-tags {
  padding: 1em 1em 0 1em;
}
#blog-single .blog-posts-nav {
  padding: 0 1em;
  margin: 38px auto;
}
#blog-single h2.related-posts {
  padding: 0 1em;
}
.post-single .single-header {
  left: 10px;
}
.post-single p{
  padding: 0 1em;
}
.post-single blockquote > p {
  padding: 0 1em;
  margin-bottom: 8px;
  font-size: 20px;
}
#search .list-group {
  margin: 0 1em 20px 1em;
}
.btn_white {
  padding: 8px 50px;
}
.btn_orange {
  padding: 8px 50px;
}
}